
    .body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #FAFAFA !important;
      color: #0B0F3B !important;
    }

    /* Top bar */
    .topbar {
      background: #FAFAFA;
      color: #FFFFFF;
      font-size: larger;
      padding: 0.3rem 1rem;
      height: 60px;
    }
    .topbar a {
      color: #212121;
      margin-right: 1rem;
      text-decoration: none;
    }
    .topbar a:hover {
      color: #180b73ff;
    }
    .btn-cta {
      background-color: #24d6dc08;
      border: 2px solid #24d6dc96;
      color: #014a6d;
    }
    .btn-cta:hover {
      background: #002B5C;
      color: #FFF9C4 !important;
    }

    /* Main navbar */
    .main-nav {
      background: #002B5C;
      display: flex;
    }



.logo img{
width: 300px;
}
/* Menú */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #00cfff;
    padding: 8px 12px 0px 12px;
    display: block;
    transition: 0.3s;
        height: 100px;
    line-height: 100px;
    width: 100%;
    font-size: 27px;
}

nav ul li a:hover {
    background-color: #014a6d;
    border-radius: 5px;
}

/* Submenú */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #014a6d;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
    z-index: 10;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li a {
    padding: 8px 15px;
    color: #fff;
    font-size: 20px;
    line-height: normal;
}

nav ul li ul li a:hover {
    background-color: #026d99;
}

    /* Hero Section */
   .hero {
      background: #cddef6ff;
      background-size: cover;
      text-align: center;
      padding: 6rem 1rem;
      color: #2E7D32;
    }
    .hero h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    .hero p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

.slider{
  width: 100%;
}
.slider img{
  width: 100%;
 
} 
    /* Product Section */
    .products {
      padding: 4rem 1rem;
      background-color: #002B5C;
      text-align: center;
    }
    .products h2 {
      color: #FFFFFF;
      margin-bottom: 2rem;
    }
    .card {
      background-color: #3F5C9A;
      border: none;
      color: #212121;
    }
    .card .btn {
      background-color: #81C784;
      border: none;
      margin-top: 1rem;
    }
    .card .btn:hover {
      background-color: #C5A100
;
    }
    .nosotros{
      background-color: #cddef6ff;
    }
.section-header {
    text-align: center; 
    background-image: url('multimedia/nosotros.jpg');
    height: 200px;
    width: 100%;
    background-size: cover; 

}

.section-body {
    padding: 2rem;  
    background-color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mision-vision{
  background-color: #002B5C;
  padding: 2rem;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacto{
  background-color: #cddef6ff;
  padding: 2rem;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
    .cardi {
      background-color: #3f5c9a9e;
      border-radius: 10px;
      color: #212121;
      width: 150%;
       padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
    }

.list{
 display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px; }

 
    /* Footer */
    footer {
      background-color: #002B5C;
      color: #FFFFFF;
      padding: 2rem 1rem;
      text-align: center;
    }
    footer h5{
      color: #FFFFFF;
      margin-bottom: 1rem;
    }
    footer a {
      margin: 0 0.5rem;
      text-decoration: none;
    }
    footer a:hover {
      color: #FFAA00;
    }
    footer small {
      display: block;
      margin-top: 1rem;
      color: #CCCCCC;
    }

